{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
  <h2 class="my-3 text-center"> Painel Administrativo </h3>
  <hr class="my-6">
  <div class="d-block p-2 bg-primary text-white">
    <h3> <i class="bi bi-person-fill"></i> Usuários </h3>
  </div>
  <ul class="list-group ps-4">
    <li class="list-group-item">
      <a href="{{url_for('users.list_users')}}">
      <i class="bi bi-person-lines-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> Listar usuários</span>
    </a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('users.register_form')}}"><i class="bi bi-person-fill-add" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center">Cadastro de usuários </span></a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('users.gets_permission')}}">
      <i class="bi bi-shield-lock-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> 
        Cadastro de Permissões
      </span>
    </a>
    </li>
  </ul>
  <div class="d-block p-2 bg-primary text-white">
    <h3> <i class="bi bi-buildings-fill"></i> Instituição, Departamento e Cursos </h3>
  </div>
  <ul class="list-group ps-4">
    <li class="list-group-item">
      <a href="{{url_for('register.country_list_form')}}">
      <i class="bi bi-flag-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> Cadastro de Países</span>
    </a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('register.inst_list')}}"><i class="bi bi-building" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center">Instituição </span></a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('register.dep_list')}}">
      <i class="bi bi-collection-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> 
        Departamento /  Unidade
      </span>
    </a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('register.course_list')}}">
      <i class="bi bi-mortarboard-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> 
        Curso
      </span>
    </a>
    </li>
  </ul>
  <div class="d-block p-2 bg-primary text-white">
    <h3> <i class="bi bi-kanban-fill"></i> Configurações de Reuniões </h3>
  </div>
  <ul class="list-group ps-4">
    <li class="list-group-item">
      <a href="{{url_for('meetings.list_meeting_type')}}">
      <i class="bi bi-bookmark-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center"> Tipo de Reuniões</span>
    </a>
    </li>
    <li class="list-group-item">
      <a href="{{url_for('meetings.gets_attendees')}}"><i class="bi bi-person-lines-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center">Participantes de Reuniões </span></a>
    </li>
    <li class="list-group-item disabled">
      <i class="bi bi-123" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      <span class="mx-3 text-center">Numeração de Reuniões </span>
    </li>
  </ul>
</div>

{% endblock %}