
{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    <h2 class="text-center">Lista de reuniões cadastrada</h2>
    <div class="container">
<table class="table m-2 p-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Curso</th>
        <th scope="col">Tipo</th>
        <th scope="col">Numeração</th>
        <th scope="col">Data</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for meeting in dados %}
      <tr>
        <th class="text-center"> {{ meeting.id }}</th>
        <th class="text-center">{{meeting.course}}</th>
        <td class="text-center">{{ meeting.meet_type }}</td>
        <td class="text-center">{{ meeting.meet_number }}</td>
        <td class="text-center">{{ meeting.meet_date.strftime("%d de %b de %Y") }}</td>
        <td>
          <form id="gnotice">
            <button formtarget="gnotice" type="submit" class="btn btn-primary m-2" formaction="{{url_for('meetings.generate_notice', id=meeting.id)}}" formmethod="post"> Gerar Convocação </button>
          </form>
            <button type="button" class="btn btn-primary m-2"> Gerar ATA</button>
            <button type="button" class="btn btn-danger m-2"> Deletar Reunião</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}