{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    <h2 class="text-center">Lista de Usuários cadastrados</h2>
    
    <div class="container">
<table class="table m-2 p-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome Usuário</th>
        <th scope="col">Identificação</th>
        <th scope="col">E-mail</th>
        <th scope="col">Permissão</th>
        <th scope="col">Ativo</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for user in dados %}
      <tr>
        <th scope="row"> {{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.userid }}</td>
        <td>{{ user.useremail }}</td>
        <td>{{ user.permission }}</td>
        <td>{% if user.is_active %} <i class="bi bi-check-circle-fill text-success" style="font-size: 1.5rem;"></i> {% else %} <i class="bi bi-x-circle-fill text-danger" style="font-size: 1.5rem;"></i> {% endif %}</td>
        <td>
            <button type="button" class="btn btn-primary">Atualizar</button>
            <button type="button" class="btn btn-danger">Inativar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}