
{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    <h2 class="text-center">Lista de reuniões cadastrada</h2>
    <div class="container">
<table class="table m-2 p-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Curso</th>
        <th scope="col">Tipo</th>
        <th scope="col">Numeração</th>
        <th scope="col">Data</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for meeting in dados %}
        
      <tr>
        <th class="text-center"> {{ meeting.id }}</th>
        <th class="text-center">{{meeting.course}}</th>
        <td class="text-center">{{ meeting.meet_type }}</td>
        <td class="text-center">{{ meeting.meet_number }}</td>
        <td class="text-center">{{ meeting.meet_date.strftime("%d de %b de %Y") }}</td>
        <td>
          <form id="gnotice">
            <button formtarget="gnotice" type="submit" class="btn btn-primary m-2" formaction="{{url_for('meetings.generate_notice', id=meeting.id)}}" formmethod="post"> Gerar Convocação </button>
          </form>
        
           <a class="btn btn-primary m-2" href="{{url_for('meetings.gen_minute', id=meeting.id)}}"> Preencher ATA<a>
        <form id="atapdf">
          <button type="submit" class="btn btn-primary m-2" formtarget="atapdf" formmethod="post" formaction="{{url_for('meetings.gen_minute_pdf', id=meeting.id)}}">Gerar ATA em pdf</button>
        </form>
          <form id="atahtml" action="{{url_for('meetings.gen_minute_html', id=meeting.id)}}" method="post">
            <input type="submit" class="btn btn-primary m-2" formtarget="atahtml"  value="Gerar ATA em HTML">
          </form>
          <form>
            <button type="submit" formmethod="post" formaction="{{url_for('meetings.delete_meeting', id=meeting.id)}}" class="btn btn-danger m-2"> Deletar Reunião</button>
          </form>
        </td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}