
{% extends "base.html" %}
{% block content %}
<div class="container text-center align-items-center mt-5">
    <div class="row">
        <h2 class="text-center ">Login</h2>
    </div>

<div class="container w-25 my-3 " >
<form>
    <!-- Email input -->
    <div data-mdb-input-init class=" mb-4">
        <label class="form-label" for="form2Example1">Usuário</label>
      <input type="login" id="form2Example1" class="form-control form-control-md" />
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class=" mb-4">
        <label class="form-label" for="form2Example2">Senha</label>
      <input type="password" id="form2Example2" class="form-control form-control-md" />
      
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Esqueceu a Senha?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
  
</form> 
</div>

</div>
</div>

{% endblock %}