
{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-success m-2">
              {{ messages[0] }}. 
          </div>
      {% endif %}
      {% endwith %}
      <div class="container">
        <form action="{{ url_for('meetings.insert_meetings') }}" method="post">
            <label for="typename">Tipo de Reunião</label>
            <select class="form-select" id="typename" name="typename" > 
                {% for ty in type_list %}
                    <option value="{{ ty.id }}"> {{ ty.type_name }}</option>
                {% endfor%}
            </select>
            <label for="course_host" class="form-label"> Curso</label>
            <select class="form-select" id = "course_host" name="course">
                {% for cou in course_list %}
                    <option value="{{ cou.id }}"> {{cou.name}} / {{ cou.department }}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label class="form-label">Data da Reunião</label>
                <input type="datetime-local" class="form-control" name="date">
            </div>
            <div>
                <label class="form-label">Local da Reunião</label>
                <input class="form-control" name="location">
            </div>
            <div>
                <label class="form-label">Descrição da Reunião</label>
                <input class="form-control" name="description">
            </div>
            <div class="border border-light my-3 p-2" id="form_attendees">
            
            
                <a href="javascript:void(0);" id="addform" class="btn btn-primary m-3">Adicionar novo participante</a> 
            </div>
            <div class="my-3 border-light p-2" id="form_agenda">

                <a href="javascript:void(0);" id="add_agenda" class="btn btn-primary m-3">Adicione pauta da reunião</a>
            </div>    
            
            <button type="submit" class="btn btn-primary m-3">Enviar</button> 
        </form>
    </div>
    <script>

        let btn = document.getElementById('addform');
        let btn2 = document.getElementById('add_agenda');
        var count_agenda = 1;
        var count = 1; 
        
        btn.onclick = function (){
            let inputname = "attendee" + count;
            let inputfield = '<div class="mb-3"> \
                <label class="form-label mb-3">' + 'Participante ' +count +":" + '</label>\
                <select class="form-select" name="field[]"> \
                    {% for attendee in att %}\
                    <option value={attendee.id}> {{attendee.name}} / {{attendee.course}} </option>\
                {% endfor %}\
                    </select> \
            </div>'
            let inpufield = '<div class="mb-3"> <label class="form-label mb-3" >'+ 'Participante ' +count +":" +'</label><input class="form-control" type="text" name="field[]"></input> </div>'
            $('#form_attendees').append(inputfield);
            count += 1;
            //let espaco = document.getElementById('form_attendees')
            //espaco.append('<input type="text"></input>')
        }

        btn2.onclick =  function(){
           // let inputagenda = "Pauta " + count_agenda;
            
            let field =' \<div class="border border-light"> <h4> '+ " Pauta "+ count_agenda +'</h4> \
            <div class="form-row"> \
                <div class="form-group col-md-6"> \
                <label>Protocolo: </label> \
                <input class="form-control" name="protocol[]"></input> \
                </div> \
                <div class="form-group col-md-6"> \
                <label>Assunto: </label>           \
                <input class="form-control" name="topic[]"></input> \
                </div> \
                </div> \
                <div class="form-row"> \
                <div class="form-group col-md-6"> \
                <label> interessado: </label> \
                <input class="form-control" name="interested[]"></input> \
                </div> \
                <div class="form-group col-md-6"> \
                <label> Parecerista e observações: </label> \
                <input class="form-control" name="description[]"></input> \
                </div> \
                </div> \
                </div>'
            
            //let input_ag_fi = '<div class="mb-3"> <label class="form-label mb-3" >'+ 'Pauta ' +count_agenda +":" +'</label><input class="form-control" type="text" name="field2[]"></input> </div>';
            
            $('#form_agenda').append(field);
            count_agenda +=1;
        }
        
        </script>
</div>
{% endblock %}