{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-success m-2">
              {{ messages[0] }}. 
          </div>
      {% endif %}
      {% endwith %}
    <h2 class="text-center"> Formulário de cadastro de novo País</h2>
    <div class="container">
        <form action="{{ url_for('register.reg_country') }}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="country_name" aria-describedby="countrynamehelp">
                <div id="countrynamehelp" class="form-text">Nome do País</div>
            </div>
            <div class="mb-3">
                <label for="acronym" class="form-label">Sigla do País</label>
                <input type="text" class="form-control" id="acronym" name="country_acronym" aria-describedby="acronymhelpe">
                <div id = "acronymhelpe" class="form-text">Insira a Sigla do Pais</div>
            </div>
            <button type="submit" class="btn btn-primary mb-5">Submit</button>
        </form>
    </div>
    <h2 class="text-center m-5"> Lista dos países cadastrados</h2>
    <div>
        <table class="table m-2 p-3">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome do País</th>
                <th scope="col">Sigla</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for country in country_list %}
              <tr>
                <th scope="row"> {{ country.id }}</th>
                <td>{{ country.name }}</td>
                <td>{{ country.acronym }}</td>
                <td>
                    <form>
                    <button type="submit"  class="btn btn-primary"> Atualizar</button>
                    <button type="submit" formaction="{{url_for('register.country_del', id=country.id) }}" formmethod="post" class="btn btn-danger"> Deletar</button>
                    </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>



{% endblock %}